useDynLib(trigger, .registration = TRUE, .fixes = "C_")
exportClasses(trigger)
importClassesFrom(methods, data.frame, list, matrix, numeric)
importMethodsFrom(methods, initialize, show)
importFrom(graphics, abline, axis, lines, plot, text)
importFrom(methods, new)
importFrom(qvalue, qvalue)
importFrom(stats, cor, density, dnorm, lsfit, model.matrix, pchisq,
          predict, pt, qnorm, sd, smooth.spline)
importFrom(utils, write.table)
importFrom(sva, sva, twostepsva.build)
import(corpcor, qtl)
# Class Trigger
exportMethods(
"trigger.link",
"trigger.mlink",
"trigger.eigenR2",
"trigger.loclink",
"trigger.net",
"trigger.netPlot2ps",
"trigger.export2cross",
"trigger.trait",
"plot"
)

export("trigger.build")

